# Listas

- **Operações:**
    - Adicionar elementos nas listas
        - .append(elemento) = adiciona apenas 1 elementos
        - .extend([elemento]) = adiciona uma sequência de elementos, mas precisam estar no formato ([...]); só aceita um elemento = .extend([x],[y]) dá erro
        - .insert(posição, elemento)
        - lista[x]=y = adiciona/substitui o elemento y na lista na posição x
    - Tamanho de listas
        - len(lista)
    - Ordenamento de listas
        - lista[][][] = retorna o elemento
        - .index(elemento) = retorna o índice
        - lista.reverse()
        - lista.count(elemento) = conta a quantidade de vezes que o elemento aparece
        - lista[x:y:z] = manipulação da ordem dos elementos
            * x = primeiro elemento (aparece na análise)
            * y = último elemento (não aparece na análise = intervalo aberto)
            * z = quantas casas ele irá pular
    - Pertinência
    - Remover elementos das listas
        - .remove(elemento) = não retorna o elemento retirado
        - .pop(índice) = retorna o elemento retirado
        - del(lista[índice]) = não retorna o elemento retirado

In [1]:
lista = []

In [2]:
type(lista)

list

In [3]:
len(lista)

0

In [4]:
lista_aninhada = [1,2,3,[4,[5,6,7,8]],[9,10]]
lista_aninhada

[1, 2, 3, [4, [5, 6, 7, 8]], [9, 10]]

In [5]:
lista_aninhada[3][1][2] # x[y] = retorna o elemnto na posição y
# x[y][z] = retorna o elemento da lista, a qual está na posição y, na posição z

7

In [6]:
lista_aninhada[2]

3

In [7]:
len (lista_aninhada)

5

In [8]:
# nomelista.append() adiciona um elemento ao final da nomelista
listaJP = []
listaJP.append(2)
print(listaJP)
listaJP.append(10)
print(listaJP)
listaJP.append('Teyla')
print(listaJP)

[2]
[2, 10]
[2, 10, 'Teyla']

In [9]:
listaJP = []
listaJP.append(2)
listaJP.append(["João","Pedro",10])
#listaJP2.append(["João","Pedro",10]) irá adicionar os elemntos na forma de lista dentro da listaJP2
print(listaJP)

[2, ['João', 'Pedro', 10]]

In [10]:
listaJP = []
listaJP.extend([2]) #nesse caso é igual a fazer listaJP3.append(2)
listaJP.extend(['João','Pedro',10]) #se quisermos adicionar uma sequência de elementos, usamos extend([])
listaJP

[2, 'João', 'Pedro', 10]

- **Indice do primeiro elemento de uma lista** = 0
- **Indice negativos = indicam elementos da direita para a esquerda ao invés de da esquerda para a direita.**

In [11]:
print('O primeiro elemento da lista é:',listaJP[0])
print('O primeiro elemento da lista é:',listaJP[-3])
# índices dos elementos da listaJP: 
# 0 - 2
# 1 - 'João'
# 2 - 'Pedro'
# 3 - 10

O primeiro elemento da lista é: 2
O primeiro elemento da lista é: João

In [12]:
listaJP[:2] #retorna os elementos da lista no intervalo de índices a seguir: [0,2) = [0,1]

[2, 'João']

In [78]:
listaJP[2:] #retorna os elementos da lista no intervalo de índices a seguir: [2,4]

['Pedro', 'Sento-Sé']

In [14]:
listaJP[2:3]

['Pedro']

In [15]:
print('João' in listaJP)
print('Pedro' not in listaJP)

True
False

In [16]:
listaJP.index('João') #retorna o índice do elemento na lista

1

In [17]:
listaJP.insert(3,'Sento-Sé') #insere um elemento em uma posição específica de uma lista (posição, elemento)
listaJP

[2, 'João', 'Pedro', 'Sento-Sé', 10]

In [18]:
listaJP.insert(3,'Sento-Sé')
listaJP

[2, 'João', 'Pedro', 'Sento-Sé', 'Sento-Sé', 10]

In [19]:
listaJP.remove('Sento-Sé') #remove a primeira aparição de elemento (x)
listaJP

[2, 'João', 'Pedro', 'Sento-Sé', 10]

In [20]:
listaJP

[2, 'João', 'Pedro', 'Sento-Sé', 10]

In [21]:
listaJP.pop() #quando não informado o índice do elemento, a função .pop() retira o último e retorna o elemento retirado

10

In [22]:
listaJP = [2, 'João', 'Pedro', 'Sento-Sé', 10]
listaJP

[2, 'João', 'Pedro', 'Sento-Sé', 10]

In [23]:
listaJP.pop(2)

'Pedro'

In [24]:
listaJP = [2, 'João', 'Pedro', 'Sento-Sé', 10]
listaJP

[2, 'João', 'Pedro', 'Sento-Sé', 10]

In [25]:
del(listaJP[2]) #diferença para o .pop() é que essa função não retorna o elemento deletado 
#é necessário a indicação do índice do elemento

In [26]:
listaJP

[2, 'João', 'Sento-Sé', 10]

In [27]:
listaJP.insert(2,'Pedro')
listaJP

[2, 'João', 'Pedro', 'Sento-Sé', 10]

In [28]:
listaJP.reverse() #reverte todos os elementos da lista
listaJP

[10, 'Sento-Sé', 'Pedro', 'João', 2]

In [29]:
listaJP[-4]='Pedro' # podemos alterar um elemento da lista por meio da sua posição
listaJP

[10, 'Pedro', 'Pedro', 'João', 2]

In [30]:
listaJP.count('Pedro') #retorna o número de vezes que o valor x aparece na lista

2

In [176]:
listaJP[1]='Sento-Sé' #estamos mudando o elemento da lista na posição 1
listaJP2=listaJP #estamos fazendo uma cópia da lista
listaJP2

[2, 'Sento-Sé', 'Pedro', 'Sento-Sé']

In [32]:
listaJP.pop()

2

In [33]:
listaJP

[10, 'Sento-Sé', 'Pedro', 'João']

In [34]:
listaJP2

[10, 'Sento-Sé', 'Pedro', 'João']

In [35]:
listaJP2 is listaJP

True

Ou seja, o Python entendeu que estamos armazenando na `listaCarol2` a `listaCarol` e não fazendo uma cópia dos elementos, como gostaríamos. 


Devemos ter cuidado com isso, pois se passarmos uma lista como parâmetro de entrada de uma função que a manipula, a lista será modificada.

**Cópia**

In [36]:
listaJP.insert(4,2)
listaJP.reverse()
listaJP3 = listaJP[:] #copia todos os elementos da lista
listaJP3

[2, 'João', 'Pedro', 'Sento-Sé', 10]

In [37]:
listaJP.pop()

10

In [38]:
listaJP3

[2, 'João', 'Pedro', 'Sento-Sé', 10]

In [39]:
listaJP3 is listaJP

False

**Ordenamento** 
`.sort()` vs `sorted(lista)`
* `.sort()` irá modificar a lista que ela foi designada; retorna uma variável global
* `sorted(lista)` irá criar uma nova lista, a qual conterá a versão ordenada da lista anterior; retorna uma variável local

In [40]:
listaNum=[9,10,7,5,3,1,4,2,6,8]

In [41]:
listaNum.sort()

In [42]:
listaNum

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
listaS=['João','Barbosa','Pedro','Sento-Sé','Moura']
listaS.sort()
listaS

['Barbosa', 'João', 'Moura', 'Pedro', 'Sento-Sé']

In [44]:
listaNum=[9,10,7,5,3,1,4,2,6,8]
sorted(listaNum)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
listaS=['João','Barbosa','Pedro','Sento-Sé','Moura']
sorted(listaS)

['Barbosa', 'João', 'Moura', 'Pedro', 'Sento-Sé']

In [46]:
listaNum #sorted(lista) não altera a lista designada

[9, 10, 7, 5, 3, 1, 4, 2, 6, 8]

In [47]:
listaS

['João', 'Barbosa', 'Pedro', 'Sento-Sé', 'Moura']

In [61]:
#outra forma de inverter os elementos da lista
#não cria uma nova lista
listaNum[::-1]

[8, 6, 2, 4, 1, 3, 5, 7, 10, 9]

In [68]:
listaNum[::2] #pula de dois em dois

[9, 7, 3, 4, 6]

In [81]:
listaNum[0::2]

[9, 7, 3, 4, 6]

In [82]:
len(listaNum)

10

In [84]:
listaNum[0:(len(listaNum)):2] #pula de dois em dois

[9, 7, 3, 4, 6]

In [87]:
listaNum[::-2] #pula de dois em dois invertidos

[8, 2, 1, 5, 10]

In [101]:
listaNum[len(listaNum)-2:0:-1] #é igual a listaNum[-2:0:-1]
#listaNum[x:y:-2] = ele irá inverter a lista, com os intervalos dos índices em [x,y) e irá pular de 2 em 2

[6, 2, 4, 1, 3, 5, 7, 10]

In [108]:
listaNum[2:-2:2]

[7, 3, 4]

**Forma concisa de se criar listas**

```python
[expr for item in lista]
```

Ou seja, estamos pedido para aplicar a expressão `expr` em cada `item` da `lista`.

In [112]:
[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [116]:
pares=[x*2 for x in range(1,11)]
impares=[x*2+1 for x in range(1,11)]
print(pares)
print()
print(impares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

**Concatenação**

In [118]:
num = pares+impares
num

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [120]:
num = 2*pares
num

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [121]:
nome = 'Ana'
nome = 2*nome
nome

'AnaAna'

In [177]:
matriz=[]
matriz.append(5)
matriz[0]=3
matriz

[3]

In [128]:
matriz=[]
matriz.append([11,12,13,14])
matriz.append([15,16,17,18])
matriz.append([19,20,21,22])
matriz

[[11, 12, 13, 14], [15, 16, 17, 18], [19, 20, 21, 22]]

In [170]:
matriz=[]
num=11
i=0
j=0
while i<=2:
    matriz.append([])
    while j<=3:
        matriz[i].append(num)
        num=num+1
        j=j+1
    j=0
    i=i+1
matriz

[[11, 12, 13, 14], [15, 16, 17, 18], [19, 20, 21, 22]]