# Aula 14

In [1]:
lista = []

In [2]:
type(lista)

list

In [3]:
len(lista) #comprimento da lista

0

In [6]:
lista2 = [1,[2,[3,4,[5]]]]

In [10]:
len(lista2)

2

In [11]:
lista2

[1, [2, [3, 4, [5]]]]

In [12]:
listaCarol

['Ana']

In [53]:
listaCarol = []
listaCarol.append('Ana')
#listaCarol.append(['Carolina', 'Matemática', 28]) #adiciona elemento Lista, cria uma Lista dentro de uma Lista
listaCarol.extend(['Carolina', 'Matemática', 28]) #extende a Lista, adiciona os elementos à Lista
listaCarol

['Ana', 'Carolina', 'Matemática', 28]

In [17]:
listaCarol[0]

'Ana'

In [20]:
listaCarol[3]

28

In [22]:
listaCarol[-1]

28

In [26]:
listaCarol[:2]

['Ana', 'Carolina']

In [28]:
listaCarol[2:]

['Matemática', 28]

In [32]:
'Carolina' in listaCarol #pertence à Lista

True

In [34]:
'Carol' not in listaCarol #não pertence à Lista

True

In [35]:
listaCarol.index('Carolina')

1

In [36]:
x='Carolina'

In [39]:
x.index('C') #trata o próprio String como Lista

0

In [56]:
listaCarol.insert(2, 'Carol')

In [41]:
listaCarol

['Ana', 'Carolina', 'Carol', 'Matemática', 28]

In [46]:
listaCarol.remove('Carol') #remove a 1ª aparição

In [49]:
listaCarol
#para remover todas as aparições, criar uma função com for

['Ana', 'Carolina', 'Matemática', 28]

In [54]:
listaCarol.pop() #remove um termo da lista e retorna o termo
#.pop vazio remove o último termo

28

In [57]:
listaCarol

['Ana', 'Carolina', 'Carol', 'Matemática']

In [58]:
listaCarol.pop(2)

'Carol'

In [60]:
listaCarol

['Ana', 'Carolina', 'Matemática']

In [61]:
del(listaCarol[1])
listaCarol

['Ana', 'Matemática']

In [62]:
listaCarol=['Ana','Carolina','Carol','Matemática',28]

In [66]:
listaCarol.reverse()
listaCarol

[28, 'Matemática', 'Carolina', 'Carolina', 'Ana']

In [68]:
aux = listaCarol[2]
listaCarol[2] = listaCarol[1]
listaCarol

[28, 'Matemática', 'Matemática', 'Carolina', 'Ana']

In [69]:
listaCarol=['Ana','Carolina','Carol','Matemática',28]
listaCarol2=listaCarol

In [71]:
listaCarol2

['Ana', 'Carolina', 'Carol', 'Matemática', 28]

In [72]:
listaCarol.pop()

28

In [73]:
listaCarol

['Ana', 'Carolina', 'Carol', 'Matemática']

In [74]:
listaCarol2

['Ana', 'Carolina', 'Carol', 'Matemática']

In [82]:
listaCarol=['Ana','Carolina','Carol','Matemática',28]
listaCarol3=listaCarol[::]
listaCarol3

['Ana', 'Carolina', 'Carol', 'Matemática', 28]

In [83]:
listaCarol.pop()
listaCarol

['Ana', 'Carolina', 'Carol', 'Matemática']

In [89]:
listaCarol3

['Ana', 'Carolina', 'Carol', 'Matemática', 28]

In [91]:
listaS=['Ana', 'Wagner', 'Carolina']
listaS.sort() #altera a lista

In [92]:
listaS

['Ana', 'Carolina', 'Wagner']

In [93]:
listaNum = [9,10,7,5,3,1,4,2,6,8]
sorted(listaNum) #só dá o output
#sorted(listaNum, reverse=False)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [88]:
listaNum = [9,10,7,5,3,1,4,2,6,8]
sorted(listaNum, reverse=True)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [107]:
listaNum = [9,10,7,5,3,1,4,2,6,8]
listaNum[::2] #pula 2 casas; depois do terceiro : ele pula as casas decimais
#listaNum[:-1]

[9, 7, 3, 4, 6]

In [108]:
len(listaNum)

10

In [114]:
listaNum[(len(listaNum)):0:-2] #len(listaNum) = posição

[8, 2, 1, 5, 10]

In [126]:
pares = [x*2 for x in range (1,11)]
impares = [x*2+1 for x in range (1,11)]
# expression for element in list

In [127]:
num = pares + impares
num

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [128]:
num = pares*2
num

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]